.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f2f5;
    padding: 10px;
  }
  
  .form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }
  
  .inputGroup {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
  }
  
  .input {
    width: 95%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #333;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  .register {
    margin-top: 15px;
    color: #333;
  }
  
  .registerLink {
    color: #4caf50;
    text-decoration: none;
  }
  
  .registerLink:hover {
    text-decoration: underline;
  }
  